@font-face {
  font-family: 'Pacifico';
  src: url('./pacifico.ttf');
}


html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Pacifico", cursive;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

#container {
  width: min(calc(100% - 4rem), 75ch);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 2rem;
}


/* LOESUNGEN */
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  /* height: 600px; */
  height: 900px;
  width: 100%;
  background-color: sandybrown;
}

.flex-item {
  text-align: center;
  padding: 7px;
  background-color: rgb(219, 219, 235);
}

/* .flex-item-2 {
  background-color: aquamarine;
  flex-shrink: 0;
} */

.flex-item-7 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}